@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  background: #333;
  color:#fff;
  font-family: 'Anonymous Pro', monospace; 
  font-size:20px; 
  font-weight: bold;
}

.choices {
  color:#edfeff;
  font-family: 'Anonymous Pro', monospace; 
  font-size:20px; 
}